body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    background-image: url('compleanno2.jpg');
    background-position: top ;
  }
  
  .container {
    background-color: rgba(249, 220, 2, 0.5);
    padding: 30px;
    margin: auto;
    width: 300px;
    border-radius: 10px;
  }
  
  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
  }
  
  button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border-color: magenta;

  }
  
  .error {
    color: red;
  }
  
  .download-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
